<nav class="menu">
    <div class="menuContent">
        <div class="boxMenuContent">
            Logo
        </div>
        <div class="boxMenuContent">
            <ul>
                <li><a href="">Strona Główna</a></li>
                <li><a href="">O nas</a></li>
                <li><a href="">Usługi</a></li>
                <li><a href="">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>