@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
/*
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;

    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

:root{
    --fontBody: "EB Garamond", serif;
    --fontSatisfy: "Dancing Script", cursive;
    --colorHomeWhite: #F5F1E6;
    --colorBackground: 	#ccdcc1;
    --colorWhite: #fff ;
    --colorBrown: #a67c52 ;
    --fontColor: #a9916b;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--fontSatisfy);
  color: var(--fontColor) !important;
  text-shadow: 1px 1px var(--colorWhite),-1px -1px var(--colorWhite), 
  -1px 1px var(--colorWhite), 1px -1px var(--colorWhite);
}
h2{
  font-size: 4rem !important;
  position: relative !important;
}
h2::after{
  content: '';
  display: block;
  height: 80px;
  width: 100px;
  background-image: url(../images/examplePageTwo/bohoPngTwo.png);
  background-size: cover;
  position: absolute;
  right: -120px;
  top: 50%;
  transform: translateY(-50%);
}
h3{
  font-size: 3.2rem !important;
}
h5{
  font-size: 2.2rem !important;
}
section{
  background-color: var(--colorBackground);
  color: var(--fontColor);
}
nav div div{
  background-color: var(--colorWhite);
}
nav div div ul li a{
  color: var(--fontColor) !important;
  font-family: var(--fontBody);
  font-size: 1.4rem !important;
}
nav div div ul li a:hover{
  color: var(--colorWhite) !important;
  background-color: var(--fontColor) !important;
}
.container-fluid{
  background-color: var(--colorBackground);
  font-family: var(--fontBody);
  padding: 0px;
  color: var(--colorHomeWhite);
}
.btn-primary{
  background-color: var(--fontColor);
  border-color: var(--fontColor);
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-primary:hover{
  background-color: #fff !important;
  color: var(--fontColor) !important;
  border-color: var(--fontColor) !important;
}
.btn-primary:disabled{
  background-color: var(--fontColor) !important;
  color: var(--colorHomeWhite) !important;
  border-color: var(--fontColor) !important;
}
a.btn-link{
  color:#fff !important;
  font-family: var(--fontBody);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none !important;
  display: inline-block;
  padding: 0.75rem 0.75rem;
  background-color: var(--fontColor) !important;
  border-radius: 0.375rem;
  line-height: 1.5;
  vertical-align: middle;
  letter-spacing: 1px;
  border: 1px solid var(--fontColor);
  text-shadow: none !important;
  transition: all 0.2s;
}
a.btn-link:hover{
  color: var(--fontColor) !important;
  background-color: #fff !important;
  border: 1px solid var(--fontColor);
}
a.linkBtnGift{
  color: #fff !important;
  font-family: var(--fontBody);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none !important;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  background-color: var(--colorBackground) !important;
  border-radius: 0.375rem;
  line-height: 1.5;
  letter-spacing: 1px;
  border: 1px solid var(--colorBackground);
  text-shadow: none !important;
  transition: all 0.2s;
}
a.linkBtnGift:hover{
  color: var(--colorBackground) !important;
  background-color: #fff !important;
  border: 1px solid var(--colorBackground);
}
iframe{
opacity: 0.8;
}
iframe:hover{
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
section.home{
    background: url(../images/examplePageTwo/examplePageTwoHomeTop.jpg) no-repeat center center;
    background-size: cover;
    color: var(--colorHomeWhite);
    text-shadow: 2px 2px 4px #000000;
    background-attachment: fixed;
}
section.home h2::after{
  background-image: none !important;
}
section.home .date{
  font-size: 3rem !important;
  color: var(--colorWhite) !important;
  text-shadow: 1px 1px var(--fontColor),-1px -1px var(--fontColor), 
  -1px 1px var(--fontColor), 1px -1px var(--fontColor);
}
section.home .contentHomeSection .rightColTopHome{
  position: relative;
}
section.home .contentHomeSection .rightColTopHome::after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 120%;
  opacity: 0.8;
  border: 2px solid var(--colorBackground);
  border-radius: 0.375rem;
}

section.home .contentHomeSection h1{
    font-family: var(--fontSatisfy);
    font-style: italic;
    font-size: 7rem !important;

}
section.home .contentHomeSection{
  border: 2px solid var(--colorBackground);
}
.contentInvitationSection{
    max-width: 1200px;
    margin-left: 100px;
}
.rightInvitationContent{
  color: var(--colorBrown);
}
.rightInvitationContent p{
  font-size: 1.2rem;
}
.leftImageInvitation img{
    height: 450px;
    width: 450px;
}
section.place{
background-color: var(--colorHomeWhite);
}
section.place .container-fluid{
  background-color: var(--colorHomeWhite);
  color: var(--colorWhite);
}
section.place  h3{
  position: relative;
}
section.place h3.topTitle::after{
  content: '';
  display: block;
  height: 2000px;
  width: 1px;
  background-color: var(--colorBackground);
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
section.place .boxPlaceContent::after{
  content: '';
  display: block;
  height: 1px;
  width: 3000px;
  background-color: var(--colorBackground);
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}
section.place .boxPlace ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
section.place .boxPlace ul li{
  position: relative;
  flex: 1;
  padding: 20px;
  color: #4a5941;
  font-size: 1.4rem;
  text-align: left;
  text-shadow: 1px 1px var(--colorWhite);
}

section.place .boxPlace ul li p{
  margin-bottom: 0px;
  color: var(--colorBrown);
}

.boxAttractions ul li{
  background-color: var(--colorWhite);
}
.boxAttractions ul li .contentAttractionBox{
  border: 1px solid var(--colorBackground);
  background-color: var(--colorWhite);
}
.boxAttractions ul li .contentAttractionBox i{
  font-size: 3rem;
  color: #fff !important;
  text-shadow: 1px 1px var(--fontColor),-1px -1px var(--fontColor), 
  -1px 1px var(--fontColor), 1px -1px var(--fontColor);
}
.boxAttractions ul li .contentAttractionBox h4{
  font-size: 2.4rem;

}
.boxAttractions ul li .contentAttractionBox p{
  color: var(--fontColor);
}

section.gifts{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  border-top: 1px solid var(--colorWhite);
  border-bottom: 1px solid var(--colorWhite);
}
section.contact h4{
  font-size: 2.4rem;
}
section.contact .contactRightContent h4{
  text-shadow: 1px 1px var(--colorWhite),-1px -1px var(--colorWhite), 
  -1px 1px var(--colorWhite), 1px -1px var(--colorWhite) !important; 
}
section.contact p{
  color: var(--fontColor) !important;
}
section.contact .contactLeftContent{
    background-color: var(--colorWhite);
}
section.contact .contactLeftContent .borderInset{
  border: 1px solid var(--colorBackground);
  color: var(--fontColor) !important;
}
section.contact .contactLeftContentBox i{
  font-size: 3.5rem;
  color: #fff !important;
    text-shadow: 1px 1px var(--fontColor), -1px -1px var(--fontColor), -1px 1px var(--fontColor), 1px -1px var(--fontColor);
}
section.contact .contactLeftContentBox .name{
  font-size: 1.2rem !important;
}
section.contact .contactLeftContentBox .phone{
  font-size: 1.2rem !important;
  background-color: var(--colorBackground);
}
section.contact .contactLeftContentBox .phone a{
  color: var(--colorWhite) !important;
  text-decoration: none !important;
}
section.contact .contactRightContent{
  background-color: var(--colorHomeWhite);
}
section.contact .contactRightContent .borderInsetRight{
  border: 1px solid var(--colorWhite);
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}
section.contact .contactRightContent .borderInsetRight form{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 0.340rem;
}
section.contact .contactRightContent .borderInsetRight form div{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9rem;
}
section.contact .contactRightContent .borderInsetRight form div label{
  text-align: left;
  color: var(--fontColor) !important;
  margin-top: 16px;
}
section.contact .contactRightContent .borderInsetRight form div input{
  border: 1px solid var(--colorWhite);
  border-radius: 0.375rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: var(--colorBrown);
}
section.contact .contactRightContent .borderInsetRight form div textarea{
  border: 1px solid var(--colorWhite);
  border-radius: 0.375rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  color: var(--colorBrown);
}
